<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <nav>
            <h2 class="logo" style="color:rgb(140, 255, 0);">Film<span>Fusion</span></h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/loginpage">Login</a></li>
                <li><a href="/registration">Register</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
</body>
</html>